header {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

header > nav * + * {
  margin-left: 1rem;
}
nav .active {
  color: black;
}

main {
  margin: auto;
  width: 72ch;
}

footer {
  height: 8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer img {
  height: 4rem;
  bottom: 0;
  position: sticky;
}
